[Unit]
Description=Hello World Python HTTP Server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/bin/bash <script-dir>
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target


