name: "[Manual] Build and Push to ECR"

on:
  workflow_dispatch:
    inputs:
      aws_region:
        description: AWS region for the target ECR registry
        required: true
        default: us-east-1
      ecr_repository:
        description: Name of the ECR repository
        required: true
      image_tag:
        description: Image tag to push (e.g., main, v1.0.0)
        required: true
        default: latest

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ inputs.aws_region }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and push Docker image
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: ${{ inputs.ecr_repository }}
          IMAGE_TAG: ${{ inputs.image_tag }}
          BUILD_DIR: ./Module3
        run: |
          docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG $BUILD_DIR
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG